<!-- This is the base template for Flask_Bootstrap pages, which defines an automatic navbar in each page-->
{% extends "bootstrap/base.html" %}
{% block title %}ErrLog, using mistakes to increase learning{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
        	<div class="navbar-header">
                	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        	<span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                                <li><a href="/profile">Profile</a></li>
                        </ul>
                </div>
        </div>
 </div>
{% endblock %}

{% block content%}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	
	<!-- This is the page content, separate from the flashing message which appears under certain conditions -->
	{% block page_content %}{% endblock %}
	
	<!--
	<div id="footer">
        	<p>Made by <a href="https://github.com/tvnerd">Brian Huynh</a> , <a href="https://github.com/katherinehuwu">Katherine Wu</a> and <a href="https://github.com/peterg17">Peter Griggs</a> . </p>
	</div>
	-->

</div>
{% endblock %}



{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %} 

