{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1 class="text-left">Hello, {%if name%}{{ name }}{% else %}Student{% endif %}</h1>
</div>


<div class="row">
	<h2>Here is some information about your Learning History</h2>
</div>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Id #</th>
				<th>Error Type</th>
				<th>Error Message</th>
				<th>Solution Link</th>
			</tr>
			
		</thead>
	
		
		<tbody>
		{% for error in json %}
			<tr>
				<th>{{ error['errorID'] }} </th>
				<th>{{ error['errorType'] }} </th>
				<th>{{ error['errorMessage'] }}</th>
				<th>{{ error['solutionComments'] }}</th>
			</tr>
		{% endfor %}	

		</tbody>
	
			
	</table>

</div>

<div class="row">
	<div class="col-md-6">
		<img src="http://localhost:5000/static/pie.png" style="width:400px;">
	</div>

	<div class="col-md-6">
		<img src="http://localhost:5000/static/scatter.png" style="width:400px;">
	</div>

</div>



{% endblock %}

